<footer class="footer-section">
  <div class="footer-grid">
    <div class="logo-area">
        <a href="/"><img src="assets/logo.png" alt="Stony Point Logo" class="logo" /></a>
    </div>

    <div class="footer-col">
      <h4>Quick Links</h4>
      <ul>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/warranty">Warranty</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
      </ul>
    </div>

    <!-- <div class="footer-col">
      <h4>Resources</h4>
      <ul>
        <li><a routerLink="/">FAQs</a></li>
        <li><a routerLink="/">Testimonials</a></li>
      </ul>
    </div> -->

    <div class="footer-cta">
      <h4>Need Auto Glass Help?</h4>
      <a routerLink="/contact" class="btn primary">Schedule Your Service</a>
    </div>

  </div>

  <div class="footer-bottom">
    <p>
      Copyright © 2024 Blue Line Auto Glass - All Rights Reserved.
      <!-- <a routerLink="/">Privacy Policy</a>
      <a routerLink="/">Terms of Service</a> -->
    </p>

  </div>
</footer>
