<div class="hero-section d-flex align-items-center justify-content-center text-center">
    <div class="hero-content">
      <a class="navbar-brand" href="#">
        <img src="assets/logo.png" alt="Malibu Detailing Logo" height="200">
      </a>
      <h1 class="text-uppercase title">Where Clarity Meets Quality</h1>
      <h2 class="text-white oswald-font">Expert Auto Glass Repair & Replacement — Veteran Owned, Mobile Service.</h2>
      <button class="m-5 btn-danger btn-lg oswald-font" routerLink="/contact">Get In Touch</button>
    </div>
  </div>
  