<app-hero></app-hero>
<app-services
  [sectionLabel]="'Blue Line Auto Glass'"
  [sectionTitle]="'Our Guarantee'"
  [buttonLabel]="'Learn More'"
  [buttonLink]="'/about'"
  [services]="[
    {
      icon: 'fa-solid fa-book',
      title: 'Knowledgable Staff',
      description: 'The staff at our shop has many years of auto experience between them. We are dedicated to serving your auto glass needs. We offer state of the art workmanship with any windshield replacement or repair.'
    },
    {
      icon: 'fa-solid fa-car-burst',
      title: 'We Have You Covered',
      description: 'We work with all insurance companies to make the process simple and stress-free. From filing the claim to completing the repair, we’re here to ensure everything goes smoothly and professionally.'
    },
    {
      icon: 'fa-solid fa-star',
      title: 'Our Quality Promise',
      description: 'We\'re committed to providing a stress-free experience to both new and returning customers. Our shop only uses quality glass and above standard chip repair.'
    }
  ]"
></app-services>

<app-business-details></app-business-details>