<section class="testimonials-section">
  <div class="container">
    <h2>What Our Customers Say</h2>
    <div class="testimonial-cards">
      <div class="testimonial">
        <p>"I trust Blue Line Auto Glass with all my auto glass needs. In a time where it's hard to find honest, reliable businesses, these guys are the exception. I'll be a loyal customer for life."</p>
        <h4>- Ami Lei, Phoenix, AZ</h4>
      </div>
      <div class="testimonial">
        <p>"Every time I have needed glass done on my vehicle Blue Line Auto Glass has been very efficient. They walk you through step by step and explain the process needed to complete your needs. Exceptional service!"</p>
        <h4>- Brendan Helms, Phoenix, AZ</h4>
      </div>
      <div class="testimonial">
        <p>"Absolutely the best! I'm never happy driving around with dings or cracks on my windshield. Blue Line Auto Glass works quickly to make sure I do not have to have those concerns."</p>
        <h4>- Rob Pocock, Phoenix, AZ</h4>
      </div>
    </div>
  </div>
</section>
