:root {
  --primary: #00558c;
  --accent: #25D366;
  --white: #fff;
  --font-main: 'Inter', sans-serif;
}

h1{
   font-family: 'Lobster', cursive;
}

body {
  font-family: var(--font-main);
  margin: 0;
}
